@model IEnumerable<ManagerAssistant.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<p class="noprint">
    <a asp-action="Create"><i class="noprint fas fa-plus-circle"></i></a> |
    <a href='javascript:window.print(); void 0;'><i class="noprint fas fa-print"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLineProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostProject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLineProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostProject)
            </td>
            <td>
                <span class="noprint">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-chart-pie"></i></a>
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
