@model IEnumerable<ManagerAssistant.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create"><i class="noprint fas fa-plus-circle"></i></a> |
    <a href='javascript:window.print(); void 0;'><i class="noprint fas fa-print"></i></a> |
    <a asp-controller="Chart" asp-action="Index"><i class="fas fa-chart-pie"></i></a> 
</p>

<form asp-controller="Projects" asp-action="Index" method="get">
    Name project: <input type="text" name="SearchString" style="border-bottom-color:steelblue" class="col-11 text-body">
    <input type="submit" value="Search" class="btn btn-outline-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostProject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostProject)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a> 
                </td>
            </tr>
        }
    </tbody>
</table>
